@define-color borders_breeze #4d2071;
@define-color content_view_bg_breeze #450075;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #731764;
@define-color error_color_insensitive_breeze #731764;
@define-color insensitive_base_color_breeze #420070;
@define-color insensitive_base_fg_color_breeze #6a2a9e;
@define-color insensitive_bg_color_breeze #25003f;
@define-color insensitive_borders_breeze #320b4f;
@define-color insensitive_fg_color_breeze #572a7e;
@define-color insensitive_selected_bg_color_breeze #25003f;
@define-color insensitive_selected_fg_color_breeze #572a7e;
@define-color insensitive_unfocused_bg_color_breeze #25003f;
@define-color insensitive_unfocused_fg_color_breeze #572a7e;
@define-color insensitive_unfocused_selected_bg_color_breeze #25003f;
@define-color insensitive_unfocused_selected_fg_color_breeze #572a7e;
@define-color link_color_breeze #d2baff;
@define-color link_visited_color_breeze #9b59b6;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #383a69;
@define-color success_color_insensitive_breeze #383a69;
@define-color theme_base_color_breeze #450075;
@define-color theme_bg_color_breeze #270042;
@define-color theme_button_background_backdrop_breeze #4a0080;
@define-color theme_button_background_backdrop_insensitive_breeze #47007a;
@define-color theme_button_background_insensitive_breeze #47007a;
@define-color theme_button_background_normal_breeze #4a0080;
@define-color theme_button_decoration_focus_backdrop_breeze #9500ff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #6000a4;
@define-color theme_button_decoration_focus_breeze #9500ff;
@define-color theme_button_decoration_focus_insensitive_breeze #6000a4;
@define-color theme_button_decoration_hover_backdrop_breeze #9500ff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #6000a4;
@define-color theme_button_decoration_hover_breeze #9500ff;
@define-color theme_button_decoration_hover_insensitive_breeze #6000a4;
@define-color theme_button_foreground_active_backdrop_breeze #bd7eff;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #572a7e;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #572a7e;
@define-color theme_button_foreground_backdrop_breeze #bd7eff;
@define-color theme_button_foreground_backdrop_insensitive_breeze #6d2aa4;
@define-color theme_button_foreground_insensitive_breeze #6d2aa4;
@define-color theme_button_foreground_normal_breeze #bd7eff;
@define-color theme_fg_color_breeze #bd7eff;
@define-color theme_header_background_backdrop_breeze #29004c;
@define-color theme_header_background_breeze #7400c6;
@define-color theme_header_background_light_breeze #270042;
@define-color theme_header_foreground_backdrop_breeze #a999b7;
@define-color theme_header_foreground_breeze #ffffff;
@define-color theme_header_foreground_insensitive_backdrop_breeze #a999b7;
@define-color theme_header_foreground_insensitive_breeze #a999b7;
@define-color theme_hovering_selected_bg_color_breeze #9500ff;
@define-color theme_selected_bg_color_breeze #7d00d5;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #bd7eff;
@define-color theme_titlebar_background_backdrop_breeze #29004c;
@define-color theme_titlebar_background_breeze #7400c6;
@define-color theme_titlebar_background_light_breeze #270042;
@define-color theme_titlebar_foreground_backdrop_breeze #a999b7;
@define-color theme_titlebar_foreground_breeze #ffffff;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #a999b7;
@define-color theme_titlebar_foreground_insensitive_breeze #a999b7;
@define-color theme_unfocused_base_color_breeze #450075;
@define-color theme_unfocused_bg_color_breeze #270042;
@define-color theme_unfocused_fg_color_breeze #bd7eff;
@define-color theme_unfocused_selected_bg_color_alt_breeze #3e006a;
@define-color theme_unfocused_selected_bg_color_breeze #3e006a;
@define-color theme_unfocused_selected_fg_color_breeze #bd7eff;
@define-color theme_unfocused_text_color_breeze #bd7eff;
@define-color theme_unfocused_view_bg_color_breeze #420070;
@define-color theme_unfocused_view_text_color_breeze #6a2a9e;
@define-color theme_view_active_decoration_color_breeze #9500ff;
@define-color theme_view_hover_decoration_color_breeze #9500ff;
@define-color tooltip_background_breeze #530074;
@define-color tooltip_border_breeze #6e2097;
@define-color tooltip_text_breeze #bd7eff;
@define-color unfocused_borders_breeze #4d2071;
@define-color unfocused_insensitive_borders_breeze #320b4f;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #7d2748;
@define-color warning_color_insensitive_breeze #7d2748;
